os: linux
dist: focal
git:
  depth: false
language: python
python:
- '3.6'
- '3.7'
- '3.8'
- '3.9'
install:
- pip install tox-travis
script:
- tox
notifications:
  slack:
    secure: EGRRrJTmGIugRHbD1lgRXRkIVH/ksvOwxHaH4sbty14ueU1HontKJDNfizGQIEax8iA8PY96FovmdNtNHmf/dAZ945KehYEVVUMwWFoFQgqPzFOZKuPdsbK814Tmay0Wzb+k3F8lCfl31BkG0QCIPAtGemM01HlGW9jff+ekwpE=
